<h1>Lists Table</h1>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" >ID</th>
        <th scope="col" >Title</th>
        <th scope="col" >Detail</th>
        <th scope="col" style="text-align: right">Edit</th>
        <th scope="col" style="text-align: right">Delete</th>
    </thead>
    <tbody>
      <tr class= "table-primary" *ngFor="let list of lists$">
        <td>{{ list.id }}</td>
        <td>{{ list.title }}</td>
        <td>{{ list.detail }}</td> 
        <td><button routerLink="update/{{list.id}}" [class.activated]="currentUrl == '/update'" type="update" class="btn btn-warning float-right">
          <i class="material-icons">edit</i>
          </button>
        </td>
        <td><button class="btn btn-danger float-right" (click)="openModal(template)" >
          <i class="material-icons">delete</i>
          </button>
        </td>
        <ng-template #template>
          <div class="modal-header">
            <h5 class="modal-title">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Confirm to delete this list.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" routerLink="" class="btn btn-primary" (click)="deleteList(list.id)" (click)="modalRef.hide()">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Cancel</button>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
